
body {
  background-color: #000000;
  border-width: 5px;
  border-style:inset;
  border-color: #00ffff;
   text-align: center;
 color: white;
  text-shadow:
    -1px -1px 0 #00ffff,
    1px -1px 0 #00ffff,
    -1px 1px 0 #00ffff,
    1px 1px 0 #00ffff,
}
