
body {
  background-color: #809bff;
  border-width: 5px;
  border-style:inset;
  border-color: black;
  text-shadow: 0 0 3px #0000ff;
  text-align: center;
  <h1>Text-shadow with blue neon glow</h1>
}
